# Virtual environment
venv/
.venv/

# Logs
logs/

# Data files
data/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS specific files
.DS_Store
